@model IEnumerable<EFDbContext.Models.TravelTicket>
@{
    ViewData["Title"] = "Home Page";
}


@*<h1>Ticket List</h1>*@
<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Ticket List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-controller="Home" asp-action="Create" class="btn btn-outline-info">
            <i class="fas fa-plus"></i> &nbsp; Create New Ticket
        </a>
    </div>
</div>
<br />

@if(Model.Count() != 0)
{ 
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Origin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Destination)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th></th>
                <th>Edit Action</th>
                <th>View Details</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Origin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Destination)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                        <td class="text-center">
                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
                        </td>
                        <td class="text-center">
                            <a asp-action="Details" class="btn btn-dark" asp-route-ticketId="@item.Id"> View Details</a>
                        </td>
                        <td class="text-center">
                            <a asp-action="Delete" class="btn btn-warning" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            

        </tbody>
    </table>
</div>
}
@if (Model.Count() == 0)
{
    <tr>No data to display</tr>

}
